<div class="main white">
  <div class="container">

    <section class="page2">
      <div class="header">
        <h1>Join Us!</h1>
        <h2>
          We are developers and designers who volunteer to make a difference.
          Register your interest below and automatically subscribe to our newsletter to keep you 
          in the loop of upcoming projects.
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag 'icon_mouse.png', size: '142x142', class: 'img-responsive' %>
        </div>
      </div>
      <div class="form">
        <%= simple_form_for @person, url: sign_up_index_path do |f| %>
            <% if @person.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(@person.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                    <% @person.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                  <% end %>
          <%= f.text_field :first_name, placeholder: 'First Name' %>
          <%= f.text_field :last_name, placeholder: 'Last Name' %>
          <%= f.email_field :email, placeholder: 'Email Address' %>
          <%= f.telephone_field :phone, placeholder: 'Phone Number' %>
          <%= f.text_field :postcode, placeholder: 'Postcode' %>
          <%= f.association :volunteer_roles, as: :check_boxes, label: "How would you like to contribute?", :label_method => lambda {|object| "<strong>#{object.name}:</strong> #{object.description}".html_safe} %>
          <%= f.submit 'Sign Up' %>
        <% end %>
      </div>
    </div>
  </section>
</div>
</div>

