<div class="main white">
  <div class="container">

    <section class="page2">
      <div class="header">
        <h1>Incubator</h1>
        <h2>
          The CfA Incubator takes a selected group of our previous fellow
          teams and transforms their ideas into a sustainable business.
        </h2>
        <h3>
          The program runs yearly to support the sustainability of these selected
          applications emerging from the fellowship, to develop them into scalable
          business enterprises, and to retain these talented civic technologists where
          they are most needed: strengthening the ecosystem
        </h3>
      </div>
      <div class="row ico-spacing">
        <div class="col-sm-12">
          <%= image_tag 'icon_hourglass.png', size: '142x142', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row ico-spacing">
        <div class="col-sm-4">
          <%= image_tag 'icon_creditcard.png', size: '66x66', class: 'img-responsive' %>
          <p>
            Financial support to help
            grow your business; no
            strings attached. We’re not
            asking for any equity - we
            just want to help
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_pin.png', size: '66x66', class: 'img-responsive' %>
          <p>
          A place to work in
          Melbourne - with desks, wifi
          snacks and (at least a few)
          cool people).
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_star.png', size: '66x66', class: 'img-responsive' %>
          <p>
          Access to and support from
          a rockstar set of industry,
          VC, and civic leaders - all
          committed to your success.
          </p>
        </div>
      </div>
      <div class="row ico-spacing">
        <div class="col-sm-4">
          <%= image_tag 'icon_merge.png', size: '66x66', class: 'img-responsive' %>
          <p>
          Direct connections to the
          folks you’re trying to work
          with: tech-savvy government
          decision-makers.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_globe.png', size: '66x66', class: 'img-responsive' %>
          <p>
          A big (and growing) stage
          for the world to become
          aware of your company,
          team, and product.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_easel.png', size: '66x66', class: 'img-responsive' %>
          <p>
          Trainings from the industry’s
          best on how to build a
          business, generate revenue,
          market, and scale.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>


