<div class="main green">
  <div class="container">
    <section class="page1">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag 'white_logo.png', width: '310' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h1>We are developers and designers who volunteer to make a difference.</h1>
        </div>
        <div class="col-sm-6">
          <%= image_tag 'home_bubble.png', class: 'img-responsive' %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="main white">
  <div class="container">

    <section class="page2">
      <div class="header">
        <h1>About</h1>
        <h2>
          Code for Australia is an initiative that brings together designers, developers and
          entrepreneurs to build stuff that matters. Our aim is to make our cities more
          interactive, encourage more responsive government and create meaningful
          change through technology.
        </h2>
        <h2 class="gray">
          We swear by our three step process.
        </h2>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <%= image_tag 'icon_earth.png', class: 'img-icon' %>
          <h1><span>1.</span>PROBLEM</h1>
          <p>
          We interact with government
          and the broader community
          to discover the most
          pressing public issues.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_light_bulb.png', class: 'img-icon' %>
          <h1><span>2.</span>IDEA</h1>
          <p>
          Design isn’t just visual. Design
          thinking influences how we
          think and respond to the issue
          at hand.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_rocket.png', class: 'img-icon' %>
          <h1><span>3.</span>SOLUTION</h1>
          <p>
          We go to great lengths to
          create solutions that work in
          the real world. We prioritise
          goodwill and impact.
          </p>
        </div>
      </div>
    </section>

    <section class="page3">
      <div class="header">
        <h1>Get Involved</h1>
        <h2>
          For this to work, we need <strong>you</strong> to get involved.
          No matter if you are a designer, developer, entrepreneur
          or ideas person, creating and launching apps for ‘the
          greater good’ is now just a push of a button away.
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag 'icon_heart.png', class: 'img-icon' %>
          <h1>CODE for CONNECTIONS</h1>
          <p>
          Join a global network of designers
          and developers who are engineering
          positive social change. Connect with
          government stakeholders, citizens and
          the media.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_graph.png', class: 'img-icon' %>
          <h1>CODE for SKILLS</h1>
          <p>
          Join an experienced team of start-up
          people and entreupreneurs and learn
          about every step in the process from
          idea to inception.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'icon_map.png', class: 'img-icon' %>
          <h1>CODE for CHANGE</h1>
          <p>
          Join a global network of designers
          and developers who are engineering
          positive social change. Connect with
          government stakeholders, citizens and
          the media.
          </p>
        </div>
      </div>
    </section>

    <section class="page4">
      <div class="well bg-pic header">
        <h1>PROGRAMS</h1>
        <h2>
          There are multiple ways you can get involved,
          whether it is through our;
        </h2>
        <div class="row">
          <div class="col-sm-4">
            <%= link_to 'Fellowship', root_path, class: 'inverse-link' %>
          </div>
          <div class="col-sm-4">
            <%= link_to 'Incubator', root_path, class: 'inverse-link' %>
          </div>
          <div class="col-sm-4">
            <%= link_to 'Brigade', root_path, class: 'inverse-link' %>
          </div>
        </div>
      </div>
        <h2 class="gray">
          WHO'S ONBOARD
        </h2>
          <div class="row">
            <div class="col-sm-3">
              <%= image_tag 'support-logo.png', class: 'img-responsive support' %>
            </div>
            <div class="col-sm-3">
              <%= image_tag 'support-logo2.png', class: 'img-responsive support' %>
            </div>
            <div class="col-sm-3">
              <%= image_tag 'support-logo3.png', class: 'img-responsive support' %>
            </div>
            <div class="col-sm-3">
              <%= image_tag 'support-logo4.png', class: 'img-responsive support' %>
            </div>
      </div>
    </section>

  </div>
</div><!--/row-->
